<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://horizon-ui.com/shadcn-nextjs-boilerplate/_next/static/css/32144b924e2aa5af.css"
  />
  <title>Iniciar Sessão</title>
  <!-- Add Google API Script -->
  <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body>
  <div class="flex flex-col justify-center items-center h-[100vh]">
    <div
      class="mx-auto flex w-full flex-col justify-center px-5 pt-0 md:h-[unset] md:max-w-[50%] lg:h-[100vh] min-h-[100vh] lg:max-w-[50%] lg:px-6"
    >
      <div
        class="my-auto mb-auto mt-8 flex flex-col md:mt-[70px] w-[350px] max-w-[450px] mx-auto md:max-w-[450px] lg:mt-[130px] lg:max-w-[450px]"
      >
        <p class="text-[32px] font-bold text-zinc-950 dark:text-white">
          Iniciar sessão
        </p>
        <p class="mb-2.5 mt-2.5 font-normal text-zinc-950 dark:text-zinc-400">
          Use este menu para iniciar sessão na nossa plataforma!
        </p>

        <!-- Google Sign-In Button Container -->
        <div class="mt-8">
          <!-- Google Sign-In Onload -->
          <div
            id="g_id_onload"
            data-client_id="634402005027-hqq1meks0igdm4uu1aqoft5353vrd485.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-login_uri="https://localhost:5001/api/Auth/Login"
            data-auto_prompt="false"
          ></div>

          <!-- Google Sign-In Button -->
          <div
            class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="filled_blue"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left"
          ></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
