<div class="staff-management flex flex-col items-center mb-6">

    <div class="buttons flex space-x-4 mb-4">
        <button (click)="listSpecializations()"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">Listar Tipos de Operação</button>
        <button (click)="createSpecialization()"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">Criar Especialização</button>

    </div>
</div>
<div *ngIF="specializations.length > 0" class="staff-list mt-4 mx-auto max-w-4xl px-4">
    <ul class="space-y-4">
        <li *ngFor="let specialization of specializations"
            class="staff-item p-4 w-full sm:w-[600px] mx-auto border border-gray-300 rounded-lg bg-white hover:bg-gray-50">
            <div><strong>Código: </strong>{{specialization.codeSpec}}</div>
            <div><strong>Designação: </strong>{{specialization.Designation}}</div>
            <div><strong>Descrição: </strong>{{specialization.description}}</div>
            <div class="mt-2 flex space-x-2">
                <button (click)="editSpecialization()"
                    class="px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600 transition">Update</button>
            </div>
        </li>
    </ul>
</div>

<div *ngIf="showModal" class="modal fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
    <div class="modal-content bg-white p-6 rounded-lg shadow-lg max-w-lg w-full form-container">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="form-content">
            <div class="form-group mb-4">
                <label for="codeSpec" class="block text-sm font-semibold mb-2">Código da Especialização</label>
                <input id="codeSpec" formControlName="codeSpec" type="text" placeholder="Codigo da Especialização"
                    required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                <div *ngIf="addForm.get('name')?.invalid && addForm.get('name')?.touched"
                    class="error text-red-500 text-sm mt-1">
                    Nome da Especialização é obrigatório
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="Designation" class="block text-sm font-semibold mb-2">Designação</label>
                <input id="Designation" formControlName="Designation" type="text" placeholder="Designação" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                <div *ngIf="addForm.get('name')?.invalid && addForm.get('name')?.touched"
                    class="error text-red-500 text-sm mt-1">
                    Nome da Especialização é obrigatório
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="description" class="block text-sm font-semibold mb-2">Descrição</label>
                <input id="description" formControlName="description" type="text" placeholder="Descrição" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                <div *ngIf="addForm.get('name')?.invalid && addForm.get('name')?.touched"
                    class="error text-red-500 text-sm mt-1">
                    Nome da Especialização é obrigatório
                </div>
            </div>


            <!--butoes para confirmar ou cancelar-->

            <div class="flex justify-around">
                <button (click)="onSubmit()"
                    class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition">Criar</button>
                <button (click)="closeModal()"
                    class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 transition">Cancelar</button>
            </div>

        </form>
    </div>
</div>