<div class="p-4">
  <div *ngIf="!this.assignmentOutput">
    <button
      class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
      (click)="this.isModalOpen = true"
    >
      Distribuir salas
    </button>
  
    <!-- Modal -->
    <div
      *ngIf="isModalOpen"
      class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50"
    >
    <div class="bg-white rounded-lg p-6 w-1/2">
      <h2 class="text-xl font-bold mb-4">Adicionar Operações</h2>

      <div class="space-y-4">
        <div>
          <label class="block text-sm font-medium">Staff</label>
          <div class="flex gap-2 items-center">
            <input
              type="text"
              [(ngModel)]="newStaffMember"
              class="border border-gray-300 rounded px-2 py-1 flex-grow"
              placeholder="Nome do staff"
            />
            <button
              class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-700"
              (click)="addStaff()"
            >
              Adicionar Staff
            </button>
          </div>
          <div *ngFor="let staff of currentOperation.staffList" class="mt-2">
            <span
              class="inline-block bg-gray-200 text-gray-700 px-2 py-1 rounded"
            >
              {{ staff }}
            </span>
          </div>
        </div>
        <input
        type="text"
        [(ngModel)]="operationName"
        class="border border-gray-300 rounded px-2 py-1 flex-grow"
        placeholder="ID da operação"
      />
      <div class="mt-4 flex justify-between">
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
          (click)="addOperation()"
        >
          Adicionar Operação
        </button>
      </div>
      <div *ngFor="let op of operations" class="mt-2">
        <span
          class="inline-block bg-gray-200 text-gray-700 px-2 py-1 rounded"
        >
          {{ op.name }}
        </span>
      </div>
    </div>
    <h2 class="text-xl font-bold mb-4">Adicionar Salas</h2>

    <div class="space-y-4">
      <div>
        <label class="block text-sm font-medium">Sala</label>
        <div class="flex gap-2 items-center">
          <input
            type="text"
            [(ngModel)]="roomName"
            class="border border-gray-300 rounded px-2 py-1 flex-grow"
            placeholder="ID da sala"
          />
          <button
            class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-700"
            (click)="addRoom()"
          >
            Adicionar Sala
          </button>
        </div>
        <div *ngFor="let room of rooms" class="mt-2">
          <span
            class="inline-block bg-gray-200 text-gray-700 px-2 py-1 rounded"
          >
            {{ room }}
          </span>
        </div>
      </div>
  </div>
    <button
    class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-700"
    (click)="assignSurgeries(); this.isModalOpen=false"
  >
    Distribuir operações
  </button>
  </div>

    </div>
  </div>  
  <div *ngIf="this.assignmentOutput">
    <div>
      <h4 class="font-bold">Distribuições:</h4>
      <ul>
        <div *ngFor="let assignment of assignmentOutput" class="mt-4 bg-gray-100 p-4 rounded">
          <strong>Sala - {{assignment.room}}</strong>
          <li *ngFor="let surgery of assignment.surgeries">
            Operação {{surgery}} 
          </li>
          <button 
          class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-700"
          (click)="isScheduleMenuOpen = true; chosenRoom = assignment.room">Escalonar operações</button>
          <div *ngIf="isScheduleMenuOpen" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
            <div class="bg-white rounded-lg p-6 w-1/2 relative">
              <!-- Header -->
              <h3 class="text-lg font-bold mb-4">Escalonar operações da sala {{ chosenRoom }}</h3>
          
              <!-- Botões principais -->
              <div class="flex space-x-4 mb-4">
                <button 
                  class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
                  (click)="getAll(chosenRoom!)">
                  Gerar todas e obter a melhor
                </button>
                <button 
                  class="bg-indigo-500 text-white px-4 py-2 rounded hover:bg-indigo-700"
                  (click)="heuristic(chosenRoom!)">
                  Heurística
                </button>
                <div>
                  <h4 class="font-semibold mb-2">Configurações do Algoritmo Genético</h4>
                  <div class="grid grid-cols-2 gap-4">
                    <div>
                      <label for="populationSize" class="block text-sm font-medium text-gray-700">Tamanho da População</label>
                      <input id="populationSize" type="number" class="border border-gray-300 rounded px-2 py-1 w-full" [(ngModel)]="geneticSettings.populationSize">
                    </div>
                    <div>
                      <label for="mutationRate" class="block text-sm font-medium text-gray-700">Taxa de Mutação (%)</label>
                      <input id="mutationRate" type="number" class="border border-gray-300 rounded px-2 py-1 w-full" [(ngModel)]="geneticSettings.mutationRate">
                    </div>
                    <div>
                      <label for="crossoverRate" class="block text-sm font-medium text-gray-700">Taxa de Cruzamento (%)</label>
                      <input id="crossoverRate" type="number" class="border border-gray-300 rounded px-2 py-1 w-full" [(ngModel)]="geneticSettings.crossoverRate">
                    </div>
                    <div>
                      <label for="generations" class="block text-sm font-medium text-gray-700">Número de Gerações</label>
                      <input id="generations" type="number" class="border border-gray-300 rounded px-2 py-1 w-full" [(ngModel)]="geneticSettings.generations">
                    </div>
                <button 
                  class="bg-purple-500 text-white px-4 py-2 rounded hover:bg-purple-700"
                  (click)="genetic(chosenRoom!)">
                  Algoritmo Genético
                </button>
              </div>
              </div>
              </div>
          
                <!-- Botão separado -->
                <div class="flex items-center mb-4 space-x-4">
                  <!-- Choose Algorithm Button -->
                  <button 
                    class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700"
                    (click)="chooseAlgorithm(chosenRoom!)">
                    Algoritmo sugerido
                  </button>
                  <span *ngIf="chosenAlgorithm" class="text-gray-700">{{ chosenAlgorithm }}</span>

                  <!-- Date-Time Input -->
                  <div>
                    <label for="deadline" class="block text-sm font-medium text-gray-700 mb-1">Tempo limite</label>
                    <input 
                      id="deadline" 
                      type="datetime-local" 
                      class="border border-gray-300 rounded px-2 py-1"
                      [(ngModel)]="deadline">
                  </div>
                </div>
              <!-- Botão de fechar -->
              <button 
                class="absolute top-4 right-4 bg-red-500 text-white px-3 py-1 rounded hover:bg-red-700"
                (click)="isScheduleMenuOpen = false">
                Fechar
              </button>
            </div>
          </div>
        </div>
      </ul>
    </div>
<!-- Schedule Output -->
<div 
  class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50"
  *ngIf="parsedRoomSchedule && parsedStaffSchedules">
  <div class="bg-white rounded-lg p-6 w-1/2 max-h-[80vh] overflow-y-auto relative">
    <!-- Close Button -->
    <button 
      class="absolute top-4 right-4 bg-red-500 text-white px-3 py-1 rounded hover:bg-red-700"
      (click)="parsedRoomSchedule = null; parsedStaffSchedules = null">
      Fechar
    </button>

    <!-- Output Header -->
    <h3 class="text-lg font-bold">Output</h3>

    <!-- Room Schedule -->
    <div class="mt-4 bg-gray-100 p-4 rounded">
      <h4 class="font-bold">Agenda da Sala:</h4>
      <ul>
        <li *ngFor="let frame of parsedRoomSchedule.values">
          <strong>
            {{ (frame.minute_i / 60) | number:'2.0-0' }}:{{ (frame.minute_i % 60) | number:'2.0-0' }}
            - {{ (frame.minute_f / 60) | number:'2.0-0' }}:{{ (frame.minute_f % 60) | number:'2.0-0' }}
          </strong>: {{ frame.operation }}
        </li>
      </ul>

      <!-- Staff Schedules -->
      <h4 class="font-bold mt-4">Agenda dos Staff:</h4>
      <div *ngFor="let staffSchedule of parsedStaffSchedules.staffs" class="mt-2">
        <h5 class="text-sm font-semibold">{{ staffSchedule.staff }}</h5>
        <ul>
          <li *ngFor="let frame of staffSchedule.values">
            <strong>
              {{ (frame.minute_i / 60) | number:'2.0-0' }}:{{ (frame.minute_i % 60) | number:'2.0-0' }}
              - {{ (frame.minute_f / 60) | number:'2.0-0' }}:{{ (frame.minute_f % 60) | number:'2.0-0' }}
            </strong>: {{ frame.operation }}
          </li>
        </ul>
      </div>

      <!-- Final Time -->
      <h4 class="font-bold mt-4">Tempo Final:</h4>
      <p>{{ scheduleOutput!['final-time'] }} minutos</p>
    </div>
  </div>
</div>

  </div>