<body class="font-sans antialiased">
  
    <main class="py-10">
      <div class="container mx-auto px-4">
        <section class="mb-8">
          <h1 class="text-3xl font-bold">Bem vindo</h1>
        </section>
  
        <section class="mb-8">
          <h3 class="text-xl font-semibold mb-2">Sobre nós</h3>
          <p class="text-gray-700 leading-relaxed">
            Nós somos o <strong>Hospital de Paranhos</strong>, uma entidade focada no seu bem estar e conforto.
          </p>
        </section>
  
        <section>
          <h3 class="text-xl font-semibold mb-2">Os nossos serviços</h3>
          <p class="text-gray-700 leading-relaxed">
            Nós disponibilizamos, entre outros, os seguintes serviços.
          </p>
          <ul class="list-disc pl-5 text-gray-700 leading-relaxed">
            <li>Manutenção de pacientes.</li>
            <li>Agendamento de cirurgias.</li>
            <li>Visualização 3D do hospital.</li>
          </ul>
          <p class="text-gray-700 leading-relaxed">
            Para os utilizadores não pertencentes à empresa, também disponbilizamos serviços.
          </p>
          <ul class="list-disc pl-5 text-gray-700 leading-relaxed">
            <li>Visualização de futuras cirurgias.</li>
            <li>Visualização e portabilidade do seu histórico médico.</li>
          </ul>
          <p class="text-gray-700 leading-relaxed">
            Nós levamos a sua privacidade e os seus direitos como a nossa prioridade. Poderá ver a nossa <strong>Política de Privacidade</strong> em mais detalhe.
          </p>
        </section>
      </div>
    </main>
  </body>