<div class="staff-management flex flex-col items-center mb-6">
    <h2 class="text-lg font-semibold mb-4">Admin</h2>

    <div class="buttons flex space-x-4 mb-4">
        <button (click)="staffManagement()"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">Gerir Staffs</button>
        <button (click)="operationTypeManagement()"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">Gestão dos Tipos de Operação</button>
        <button (click)="patientManagement()"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">Gerir Pacientes</button>
        <button (click)="scheduleOperations()"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">Organizar Horários</button>
        <button (click)="specializationManagement()"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">Gestão de Especializações</button>
        </div>
</div>

<div *ngIf="updateSuccessMessage"
    class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded mb-4 w-full max-w-md text-center">
    {{ updateSuccessMessage }}
</div>

<div *ngIf="notFound" class="text-center text-red-500 font-semibold text-lg mt-4">
    No Staff Found.
</div>
