<div class="flex flex-col items-center justify-center min-h-screen bg-inherit">
    <button
    (click)="onDeleteProfileClick()"
    class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-offset-2 transition"
    >
    Eliminar Perfil
    </button>
  
    <!-- Modal de confirmação -->
    <div
      *ngIf="showConfirmation"
      class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
    >
      <div class="bg-white rounded-lg shadow-lg p-6 w-96">
        <h2 class="text-lg font-semibold text-gray-800">Confirmação</h2>
        <p class="text-gray-600 mt-4">
          Tem certeza de que deseja eliminar o seu perfil? Esta ação não pode ser desfeita.
        </p>
        <div class="mt-6 flex justify-end space-x-4">
          <button
            (click)="cancelDelete()"
            class="px-4 py-2 bg-gray-300 rounded-lg hover:bg-gray-400 transition"
          >
            Cancelar
          </button>
          <button
            (click)="confirmDelete()"
            class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 transition"
          >
            Confirmar
          </button>
        </div>
      </div>
    </div>
  
<!-- Feedback Message -->
<div *ngIf="showNotification" [class]="messageClass + ' fixed top-4 right-4 p-3 rounded shadow-lg'">
    {{ messageText }}
  </div>
  