<u>operation type works</u>
<!--<div class="staff-management flex flex-col items-center mb-6">
    <h2 class="text-lg font-semibold mb-4">Operation Types</h2>

    <div class="buttons flex space-x-4 mb-4">
        <button (click)="createOperationType()"
            class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition">Create Operation Type</button>    
    </div>
    <div class="buttons flex space-x-4 mb-4">
        <button (click)="createOperationType()"
            class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition">List Operation Type</button>
    </div>
        
</div>-->

<!--list operatinon types
<div *ngIf="operationTypeList.length > 0" class="staff-list mt-4 mx-auto max-w-4xl px-4"
    <ul></ul>
-->

<!-- Create form -->
<!--
<div *ngIf="showModal" class="modal fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
    <div class="modal-content bg-white p-6 rounded-lg shadow-lg max-w-lg w-full">
        <form [formGroup]="operationTypeForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-4">
                <label for="operationTypeName" class="block text-sm font-semibold mb-2">Operation Type</label>
                <input id="operationTypeName" formControlName="operationTypeName" type="text" placeholder="Enter Operation Type" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
            </div>
        </form>
    </div>
</div>
-->



