<style>
    .form-container {
      max-height: 800px; /* Adjust to your desired height */
      overflow-y: auto; /* Enables vertical scrolling */
      padding: 25px;
      border-radius: 8px; /* Optional: Makes the border rounded */
    }
  
    .form-content {
      display: flex;
      flex-direction: column;
      gap: 15px; /* Space between form fields */
    }
</style>
  

<div class="staff-management flex flex-col items-center mb-6">
    
    <div class="buttons flex space-x-4 mb-4">
        <button (click)="listOperationType()"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">List Operation Type</button>
        <button (click)="createOperationType()"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">Create Operation Type</button>
    </div>

        
</div>

<!-- List of operation types -->
<div *ngIf="operationTypes.length > 0" class="staff-list mt-4 mx-auto max-w-4xl px-4">
    <ul class="space-y-4">
        <li *ngFor="let operationType of operationTypes" 
        class="staff-item p-4 w-full sm:w-[600px] mx-auto border border-gray-300 rounded-lg bg-white hover:bg-gray-50">
            <div><strong>Operation Type: </strong>{{operationType.name}}</div>
            <div><strong>Type ID: </strong>{{operationType.id}}</div>
            <div><strong>Status: </strong>{{operationType.Status}}</div>
            <div><strong>Specialization: </strong>{{operationType.Specialization}}</div>
            <div class="mt-2 flex space-x-2">
                <button (click)="listOperationType()"
                    class="px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600 transition">Update</button>
                <button (click)="deleteOperationType(operationType.id)"
                    class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 transition">Delete</button>
            </div>
        </li>
    </ul>
</div>

<!-- creation form -->

<div *ngIf="showModal" class="modal fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
    <div class="modal-content bg-white p-6 rounded-lg shadow-lg max-w-lg w-full form-container">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="form-content">
            <div class="form-group mb-4">
                <label for="name" class="block text-sm font-semibold mb-2">Tipo de Operação</label>
                <input id="name" formControlName="name" type="text" placeholder="Tipo de Operação" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('name')?.invalid && addForm.get('name')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Nome do Tipo de Operação é obrigatório    
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="anaesthesiaTime" class="block text-sm font-semibold mb-2">Duração Anestesia</label>
                <input id="anaesthesiaTime" formControlName="anaesthesiaTime" type="text" placeholder="Duração Anestesia" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('anaesthesiaTime')?.invalid && addForm.get('anaesthesiaTime')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Duração da Anestesia é obrigatório
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="surgeryTime" class="block text-sm font-semibold mb-2">Duração Cirurgia</label>
                <input id="surgeryTime" formControlName="surgeryTime" type="text" placeholder="Duração Cirurgia" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('surgeryTime')?.invalid && addForm.get('surgeryTime')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Duração da Cirurgia é obrigatório
                    </div>
            </div>
            <div class="form-group mb-4">
                <label for="cleaningTime" class="block text-sm font-semibold mb-2">Tempo de Limpeza</label>
                <input id="cleaningTime" formControlName="cleaningTime" type="text" placeholder="Tempo de Limpeza" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('cleaningTime')?.invalid && addForm.get('cleaningTime')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Tempo de Limpeza é obrigatório
                    </div>
            </div>

            <div class="form-group mb-4">
                <label for="specialization" class="block text-sm font-semibold mb-2">Especialização</label>
                <select id="specialization" formControlName="specialization" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500">
                    <option value="Prosthetics">Proteses</option>
                    <option value="Arthroscopy">Artroscopia</option>
                    <option value="Spine">Coluna</option>
                </select>
                <div *ngIf="addForm.get('Specialization')?.invalid && addForm.get('Specialization')?.touched"
                     class="error text-red-500 text-sm mt-1">
                    Especialização é obrigatório
                </div>
            </div>
            <div class="form-group mb4">
                <label for="minDoctor" class="block text-sm font-semibold mb-2">Mínimo de Doutores</label>
                <input id="minDoctor" formControlName="minDoctor" type="text" placeholder="Mínimo de Doutores" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('minDoctors')?.invalid && addForm.get('minDoctors')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Mínimo de Doutores é obrigatório
                    </div>
            </div>
            <div class="form-group mb4">
                <label for="minAnaesthetist" class="block text-sm font-semibold mb-2">Mínimo de Anestesistas</label>
                <input id="minAnaesthetist" formControlName="minAnaesthetist" type="text" placeholder="Mínimo de Anestesistas" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('minAnesthetists')?.invalid && addForm.get('minAnesthetists')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Mínimo de Anestesistas é obrigatório
                    </div>
            </div>
            <div class="form-group mb4">
                <label for="minNurseAnaesthetist" class="block text-sm font-semibold mb-2">Mínimo de Enfermeiros Anestesistas</label>
                <input id="minNurseAnaesthetist" formControlName="minNurseAnaesthetist" type="text" placeholder="Mínimo de Enfermeiras Anestesistas" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('minAnesthetists')?.invalid && addForm.get('minAnesthetists')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Mínimo de Enfermeiros Anestesistas é obrigatório
                    </div>
            </div>
            <div class="form-group mb4">
                <label for="minInstrumentingNurse" class="block text-sm font-semibold mb-2">Mínimo de Enfermeiros Instrumentistas</label>
                <input id="minInstrumentingNurse" formControlName="minInstrumentingNurse" type="text" placeholder="Mínimo de Enfermeiras Instrumentistas" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('minInstrumentNurses')?.invalid && addForm.get('minInstrumentNurses')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Mínimo de Enfermeiros Instrumentistas é obrigatório
                    </div>
            </div>
            <div class="form-group mb4">
                <label for="minCirculatingNurse" class="block text-sm font-semibold mb-2">Mínimo de Enfermeiros Circulantes</label>
                <input id="minCirculatingNurse" formControlName="minCirculatingNurse" type="text" placeholder="Mínimo de Enfermeiras Circulantes" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('minCirculatingNurses')?.invalid && addForm.get('minCirculatingNurses')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Mínimo de Enfermeiros Circulantes é obrigatório
                    </div>
            </div>
            <div class="form-group mb4">
                <label for="minXRayTechnician" class="block text-sm font-semibold mb-2">Mínimo de Técnicos de Raio-X</label>
                <input id="minXRayTechnician" formControlName="minXRayTechnician" type="text" placeholder="Mínimo de Técnicos de Raio-X" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('minXRay')?.invalid && addForm.get('minXRay')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Mínimo de Técnicos de Raio-X é obrigatório
                    </div>
            </div>
            <div class="form-group mb4">
                <label for="minMedicalActionAssistant" class="block text-sm font-semibold mb-2">Minimo de Assistentes Médicos</label>
                <input id="minMedicalActionAssistant" formControlName="minMedicalActionAssistant" type="text" placeholder="Mínimo de Assistentes Médicos" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('minMedicalAssistant')?.invalid && addForm.get('minMedicalAssistant')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Mínimo de Assistentes Médicos é obrigatório
                    </div>
            </div>
            <!--butoes para confirmar ou cancelar-->

            <div class="flex justify-around">
                <button (click)="onSubmit()"
                    class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition">Criar</button>
                <button (click)="closeModal()"
                    class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 transition">Cancelar</button>
            </div>
            
        </form>
    </div>
</div>

<!--update-->


<div *ngIf="showModal" class="modal fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
    <div class="modal-content bg-white p-6 rounded-lg shadow-lg max-w-lg w-full form-container">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="form-content">
            <div class="form-group mb-4">
                <label for="name" class="block text-sm font-semibold mb-2">Tipo de Operação</label>
                <input id="name" formControlName="name" type="text" placeholder="Tipo de Operação" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('name')?.invalid && addForm.get('name')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Nome do Tipo de Operação é obrigatório    
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="anaesthesiaTime" class="block text-sm font-semibold mb-2">Duração Anestesia</label>
                <input id="anaesthesiaTime" formControlName="anaesthesiaTime" type="text" placeholder="Duração Anestesia" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('anaesthesiaTime')?.invalid && addForm.get('anaesthesiaTime')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Duração da Anestesia é obrigatório
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="surgeryTime" class="block text-sm font-semibold mb-2">Duração Cirurgia</label>
                <input id="surgeryTime" formControlName="surgeryTime" type="text" placeholder="Duração Cirurgia" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('surgeryTime')?.invalid && addForm.get('surgeryTime')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Duração da Cirurgia é obrigatório
                    </div>
            </div>
            <div class="form-group mb-4">
                <label for="cleaningTime" class="block text-sm font-semibold mb-2">Tempo de Limpeza</label>
                <input id="cleaningTime" formControlName="cleaningTime" type="text" placeholder="Tempo de Limpeza" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('cleaningTime')?.invalid && addForm.get('cleaningTime')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Tempo de Limpeza é obrigatório
                    </div>
            </div>

            <div class="form-group mb4">
                <label for="minDoctor" class="block text-sm font-semibold mb-2">Mínimo de Doutores</label>
                <input id="minDoctor" formControlName="minDoctor" type="text" placeholder="Mínimo de Doutores" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('minDoctors')?.invalid && addForm.get('minDoctors')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Mínimo de Doutores é obrigatório
                    </div>
            </div>
            <div class="form-group mb4">
                <label for="minAnaesthetist" class="block text-sm font-semibold mb-2">Mínimo de Anestesistas</label>
                <input id="minAnaesthetist" formControlName="minAnaesthetist" type="text" placeholder="Mínimo de Anestesistas" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('minAnesthetists')?.invalid && addForm.get('minAnesthetists')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Mínimo de Anestesistas é obrigatório
                    </div>
            </div>
            <div class="form-group mb4">
                <label for="minNurseAnaesthetist" class="block text-sm font-semibold mb-2">Mínimo de Enfermeiros Anestesistas</label>
                <input id="minNurseAnaesthetist" formControlName="minNurseAnaesthetist" type="text" placeholder="Mínimo de Enfermeiras Anestesistas" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('minAnesthetists')?.invalid && addForm.get('minAnesthetists')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Mínimo de Enfermeiros Anestesistas é obrigatório
                    </div>
            </div>
            <div class="form-group mb4">
                <label for="minInstrumentingNurse" class="block text-sm font-semibold mb-2">Mínimo de Enfermeiros Instrumentistas</label>
                <input id="minInstrumentingNurse" formControlName="minInstrumentingNurse" type="text" placeholder="Mínimo de Enfermeiras Instrumentistas" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('minInstrumentNurses')?.invalid && addForm.get('minInstrumentNurses')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Mínimo de Enfermeiros Instrumentistas é obrigatório
                    </div>
            </div>
            <div class="form-group mb4">
                <label for="minCirculatingNurse" class="block text-sm font-semibold mb-2">Mínimo de Enfermeiros Circulantes</label>
                <input id="minCirculatingNurse" formControlName="minCirculatingNurse" type="text" placeholder="Mínimo de Enfermeiras Circulantes" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('minCirculatingNurses')?.invalid && addForm.get('minCirculatingNurses')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Mínimo de Enfermeiros Circulantes é obrigatório
                    </div>
            </div>
            <div class="form-group mb4">
                <label for="minXRayTechnician" class="block text-sm font-semibold mb-2">Mínimo de Técnicos de Raio-X</label>
                <input id="minXRayTechnician" formControlName="minXRayTechnician" type="text" placeholder="Mínimo de Técnicos de Raio-X" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('minXRay')?.invalid && addForm.get('minXRay')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Mínimo de Técnicos de Raio-X é obrigatório
                    </div>
            </div>
            <div class="form-group mb4">
                <label for="minMedicalActionAssistant" class="block text-sm font-semibold mb-2">Minimo de Assistentes Médicos</label>
                <input id="minMedicalActionAssistant" formControlName="minMedicalActionAssistant" type="text" placeholder="Mínimo de Assistentes Médicos" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" />
                    <div *ngIf="addForm.get('minMedicalAssistant')?.invalid && addForm.get('minMedicalAssistant')?.touched"
                    class = "error text-red-500 text-sm mt-1">
                    Mínimo de Assistentes Médicos é obrigatório
                    </div>
            </div>
            <!--butoes para confirmar ou cancelar-->

            <div class="flex justify-around">
                <button (click)="onSubmit()"
                    class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition">Atualizar</button>
                <button (click)="closeModal()"
                    class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 transition">Cancelar</button>
            </div>
            
        </form>
    </div>
</div>

<!--delete-->
<div *ngIf="confirmingDelete" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm w-full">
        <p class="text-center text-lg font-semibold mb-4">Are you sure you want to delete this staff member?</p>
        <div class="flex justify-around">
            <button (click)="confirmDelete()"
                class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 transition">Yes, Delete</button>
            <button (click)="cancelDelete()"
                class="px-4 py-2 bg-gray-300 text-black rounded hover:bg-gray-400 transition">Cancel</button>
        </div>
    </div>
</div>

<div class="staff-management flex flex-col items-center mb-6 mt-6">
    <div class="buttons flex space-x-4 mb-4">
        <button (click)="backToAdmin()"
            class="px-4 py-2 bg-green-500 text-white rounded hover:bg-grey-400 transition">Back to Admin Menu</button>
    </div>
</div>


