<div class="staff-management flex flex-col items-center mb-6">
    <h2 class="text-lg font-semibold mb-4">Doctor</h2>

    <div class="buttons flex space-x-4 mb-4">
        <button (click)="openOperationRequests()"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">Gerir Solicitações de Operação</button>
        <button (click)="openAppointments()"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">Gerir Consultas</button>
        <button (click)="openMedicalCondition()"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">Gerir Condição médica</button>
        </div>
</div>
